:root{
    width: 100vw;
    height: 100vh;
}
body{
    display: flex;
    flex-direction: column;
    margin: 4vh;
    align-items: center;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 90vh;
    border: 1px solid ;
    border-radius: 12px;
}
.sidebar{
    width: 40vw;
    height: 90vh;
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    background-color: darkolivegreen;
    background-size: 40vw;
    border-radius: 12px 0 0  12px;

}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin-top: 10vh;
    height: 50px;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    font-size: 24px;
    padding: 24px;
    vertical-align: middle;
}

@font-face {
    font-family: Norse;
    src: url(Norse-Bold.otf);
}
.logo>div{
    margin-left: 12px;
    margin-top: 14px;
    font-family: Norse;
    font-size: 58px;
}
.content{
    width: 100%;
}