/* (1) CSS Layout Part  */
/* ============================================================ */

body{
    /* remove sidebar: */
    overflow: hidden; 
    width: 100vw;
    height: 100vh;
    margin:0;
    padding: 0;
}
.container{
    /* set the container to flex model */
    display: flex;
    height: 100%;
}
aside{
    flex: 1 0 30%;
    flex-direction: column;
    /* moving logo down */
    padding: 15% 0;
}
main{
    /* Return sidebar for the nested main container */
    overflow-y: auto;
    flex: 1 0 70%;
}

/* Mobile First is second here ;-) */
@media (max-width:850px) {
    .container{
        flex-direction: column;
    }
    aside{
        flex-direction: column;
        flex: 0 0 10%;
        padding: 3% 0;
    }
}
@media (max-width:550px) {
    .container{
        flex-direction: column;
    }
    aside{
        flex-direction: column;
        /* flex-shrink: 1; */
        padding: 1% 0;
        flex: 0 0 0;
    }
}

/* (2) CSS Visual Beauty */
/* ============================================================ */
aside {
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    letter-spacing: 4px;
}

@font-face {
    font-family: Norse;
    src: url(Norse-Bold.otf);
}
.logo>div{
    font-family: Norse;
    font-size: 48px;
    text-align: middle;
    /* fix for font line height */
    padding-top: 12px;
}
